<h1>List of users</h1>

<form action="/add_user" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <button>Add user</button>
</form>

<hr>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col"> </th>
    </tr>
    <tr>
    <% @users.each do |user| %>
      <th scope="row"><%= user.id %></th>
      <th scope="row"><%= user.username %></th>
      <th scope="row"><a href="/users/<%= user.username%>">
          Show details
        </a></th>
    </tr>
    <% end %>
  </tbody>
</table>
